@media (max-width:700px) {

    /* custom CSS */
    section {
        padding: 30px;
    }

    h1 {
        font-size: 20vw;
    }

    h2 {
        font-size: 8vw;
        color: #ffffff;
        font-weight: 100;
        padding: 50px;
        line-height: 1;
    }

    p {
        font-size: 17px;
        font-family: 'Questrial', sans-serif;
        color: #ffffff;
        font-weight: 100;
        line-height: 1.7;
        padding: 0 0px 0 0px;
    }

    .banner-wrapper .container {
        padding: 0;
        position: relative;
        top: 20vh;
    }

    .header_wrapper .navbar {
        padding: 30px 30px;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .product-wrapper .container .img-row {
        align-items: flex-end;
        position: absolute;
        bottom: 0px;
        left: 0vw;
        transform: translate(0%, 0%);
        min-width: 100vw;
        height: 80%;
        z-index: 1;
        font-weight: 100;
        color: #ffffff;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .product-wrapper .container .text-row {
        align-items: flex-start;
        position: absolute;
        top: 0vh;
        left: 0vw;
        transform: translate(0%, 30%);
        min-width: 100vw;
        height: 80%;
        z-index: 1;
        font-weight: 100;
        color: #ffffff;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #design-img {
        position: absolute;
        top: 65%;
        left: 0vw;
    }

    #proto-img {
        bottom: -45px;
    }

    #chr-img {
        bottom: -50px;
    }

    #proto-text {
        position: absolute;
        top: 0%;
        left: 0vw;
    }

    #myVideo {
        position: fixed;
        left: -40vw;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 1;
        padding: 0;
        object-fit: cover;
    }

    .navigation {
        visibility: hidden;
    }
}

@media (min-width:701px) and (max-width: 1300px){

    section {
        padding: 30px;
    }

    h1 {
        font-size: 20vw;
    }

    h2 {
        font-size: 10vw;
        color: #ffffff;
        font-weight: 100;
        padding: 50px;
    }

    p {
        font-size: 17px;
        font-family: 'Questrial', sans-serif;
        color: #ffffff;
        font-weight: 100;
        line-height: 1.7;
        padding: 0 50px 0 50px;
    }

    .header_wrapper .navbar {
        padding: 30px 30px;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .banner-wrapper .container {
        padding: 0;
        position: relative;
        top: 20vh;
    }

    .product-wrapper .container .row {
        align-items: flex-start;
        position: absolute;
        top: 0vh;
        left: 0vw;
        transform: translate(0%, 30%);
        min-width: 100vw;
        height: 80%;
        z-index: 1;
        font-weight: 100;
        color: #ffffff;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #design-img {
        position: absolute;
        top: 65%;
        left: 0vw;
    }

    #proto-img {
        position: absolute;
        top: 10%;
        left: 0vw;
        padding-bottom: 100px;
    }

    #chr-img {
        position: absolute;
        top: 10%;
        left: 0vw;
        padding: 0 10px 100px 10px;
    }

    #chr-img-id {
        object-fit: contain;
        max-width: 80vw;
        max-height: 50vh;
    }

    #proto-text {
        position: absolute;
        top: 0%;
        left: 0vw;
    }
}

/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  } */